@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body.login-active {
    background-color: transparent; /* Sfondo trasparente */
}

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.login-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('sfondo-login.png');
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* Riduce la visibilità dell'immagine di sfondo */
    z-index: -1; /* Mette lo sfondo dietro il contenuto */
}

.login-form {
    background-color: #121212; /* Colore di sfondo della scheda */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Roboto', sans-serif; /* Font più squadrato e formale */
    font-weight: 700; /* Aumenta lo spessore del testo */
    width: 450px; /* Riduce la larghezza del form */
    position: relative; /* Necessario per posizionare il pulsante di chiusura */
}

.login-logo {
    width: 127px;
    margin-bottom: 8px;
}

.login-input {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #403e6a; /* Colore violetto */
    color: #e0e0e0; /* Colore del testo */
    font-family: 'Roboto', sans-serif; /* Font più squadrato e formale */
    font-weight: 700; /* Aumenta lo spessore del testo */
}

.login-button {
    width: 88%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a8a5ff; /* Colore violetto chiaro */
    color: black; /* Colore del testo */
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Font più squadrato e formale */
    font-weight: 700; /* Aumenta lo spessore del testo */
    margin-top: 10px; /* Spazio tra i pulsanti */
}

.login-button:hover {
    background-color: #8a87ff; /* Colore violetto più scuro */
}

.microsoft-login {
    background-color: #121212; /* Colore di sfondo del pulsante */
    color: #a8a5ff; /* Colore del testo violetto */
    border: 2px solid #a8a5ff; /* Bordo violetto */
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Font più squadrato e formale */
    font-weight: 700; /* Aumenta lo spessore del testo */
    margin-top: 10px; /* Spazio tra i pulsanti */
    transition: background-color 0.2s ease, color 0.5s ease; /* Aggiunge la transizione graduale */
}

.microsoft-login:hover {
    background-color: #a8a5ff; /* Colore violetto chiaro */
    color: #121212; /* Colore del testo */
}

.microsoft-login:hover .microsoft-logo {
    filter: grayscale(1) brightness(0.16);
}

.microsoft-logo {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.login-label {
    display: block;
    margin-bottom: 10px;
    color: #e0e0e0; /* Colore del testo */
    font-family: 'Roboto', sans-serif; /* Font più squadrato e formale */
    font-weight: 700; /* Aumenta lo spessore del testo */
    font-size: 14px; /* Dimensione del font più piccola */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #e0e0e0; /* Colore del testo */
    font-size: 24px; /* Dimensione del font */
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Font più squadrato e formale */
    font-weight: 700; /* Aumenta lo spessore del testo */
}

.close-button:hover {
    color: rgb(168, 165, 255);
}

.error-message {
    display: none; /* Nasconde il messaggio di errore inizialmente */
    position: fixed; /* Cambia da absolute a fixed */
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    padding: 10px; /* Aggiunge padding per il testo */
    background-color: rgba(133, 0, 0, 0.8); /* Sfondo rosso scuro trasparente */
    color: #ffffff; /* Colore del testo bianco */
    font-family: 'Roboto', sans-serif; /* Font più squadrato e formale */
    font-weight: 700; /* Aumenta lo spessore del testo */
    text-align: center;
    border-radius: 10px; /* Angoli smussati */
    z-index: 20; /* Assicura che il messaggio sia sopra il contenuto */
    font-size: smaller;
}

.close-error-button {
    position: absolute;
    top: -6px;
    right: -1px;
    background: none;
    border: none;
    color: #ffffff; /* Colore del testo bianco */
    font-size: 24px; /* Dimensione del font */
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Font più squadrato e formale */
    font-weight: 700; /* Aumenta lo spessore del testo */
}

.close-error-button:hover {
    color: #ff0000; /* Colore rosso al passaggio del mouse */
}