@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    width: 2000px;
    height: 2000px;
    margin: 0;
}

body {
    width: 2000px;
    height: 2000px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

#loadingscreen {
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 999;
}

header {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    position: absolute;
    width: 0px;
    top: 5px;
    z-index: 1; /* Assicura che la toolbar sia sopra il canvas */
}

.menu-wrapper {
    background-color: #232329;
    padding: 8px;
    border-radius: 5px;
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 1;
}

.menu-wrapper:hover {
    background-color: #37373e;
}

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 12px; 
    height: 12px; 
    cursor: pointer;
}

#menu-button {
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px; /* Altezza molto ridotta */
    background-color: #dfdfe3; /* Colore delle linee */
}

.toolbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.tools-wrapper {
    display: flex;
    gap: 5px;
    background-color: #232329;
    border-radius: 10px;
    padding: 3px;
}

.tool-container {
    background-color: #232329;
    border-radius: 10px; /* Angoli stondati */
    padding: 2px;
    position: relative; /* Necessario per posizionare la tendina */
}

.tool-container:hover {
    background-color: #37373e;
}

.tool {
    padding: 2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px; /* Angoli stondati */
}

.tool img {
    height: 20px;
}

.color-dropdown {
    display: none;
    position: absolute;
    top: 38px; /* Posiziona la tendina 5px più in basso */
    left: 0;
    background-color: #232329;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex; /* Imposta la disposizione orizzontale */
    gap: 5px; /* Spazio tra i riquadri dei colori */
}

.color-wrapper {
    border: 2px solid transparent; /* Bordo trasparente di default */
    padding: 2px;
    border-radius: 5px;
}

.color-wrapper.selected {
    border: 2px solid #ffffff; /* Bordo bianco per indicare il colore selezionato */
}

.color-option {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    cursor: pointer;
}

.color-option[data-color="#ffffff"] {
    background-color: #ffffff; /* Bianco */
}

.color-option[data-color="#ff69b4"] {
    background-color: #ff69b4; /* Rosa scuro */
}

.color-option[data-color="#006400"] {
    background-color: #006400; /* Verde scuro */
}

.color-option[data-color="#00008b"] {
    background-color: #00008b; /* Blu scuro */
}

.color-option:hover {
    opacity: 0.8;
}



.share-button {
    padding: 7px 20px;
    border: none;
    background-color: #a8a5ff;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transition: background-color 0.2s ease, color 0.5s ease;
}

.share-button:hover {
    background-color: #8a87ff;
}

.share-box {
    user-select: text;
    display: none;
    background-color: #232329;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 2;
}

#current-group-label {
    display: inline;
    margin-bottom: 10px;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: medium;
}

#group-name {
    width: 150px; /* Set a fixed width for the input field */
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #121212;
    color: #e0e0e0;
}

.add-group-button {
    padding: 5px 10px;
    border: none;
    background-color: #a8a5ff;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transition: background-color 0.2s ease, color 0.5s ease;
}

#add-group-button:hover {
    background-color: #8a87ff;
}


.menu {
    display: none;
    position: fixed;
    top: 48px;
    left: 10px;
    background-color: #232329;
    border-radius: 5px;
    padding: 6px;
    z-index: 2;
}

.menu button {
    display: flex;
    align-items: center;
    background-color: #232329;
    color: #e0e0e0;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    font-family: 'Roboto', sans-serif; /* Font più squadrato e formale */
    font-weight: 700; /*
    font-size: 12px; /* Riduce la dimensione del testo */
}

.menu button:hover {
    background-color: #37373e;
}

.menu-icon {
    margin-right: 10px;
    height: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

canvas {
    border: 1px solid #333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Assicura che il canvas sia sotto la toolbar */
}


canvas:hover {
	cursor: url('cursore-img.png')7 7, auto;
}


@media (max-width: 450px){
    .login-form{
        width: 100%;
    }
}






.lode-board-container {
    position: relative;
}

.lode-board-dropdown {
    display: none;
    position: absolute;
    top: 37px; /* Posiziona la tendina sotto il bottone */
    left: 0;
    background-color: #232329;
    border-radius: 5px;
    padding: 4px;
    left: -5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    gap: 5px; /* Spazio tra i bottoni */
    max-height: 250px; /* Limita l'altezza a circa 6 elementi */
    overflow-y: auto; /* Aggiunge la scrollbar verticale */
    min-width: 200px;
    max-width: 350px; /* Limita la larghezza massima della scheda */
    overflow-x: auto; /* Aggiunge la scrollbar orizzontale */
}

.lode-board-container:hover .lode-board-dropdown,
.lode-board-dropdown:hover {
    display: block;
}

.lode-board-dropdown button {
    background-color: #232329;
    color: #e0e0e0;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    white-space: nowrap; /* Impedisce la rottura del testo */
    overflow: visible; /* Mostra il testo completo */
    max-width: 300px;
}

.lode-board-dropdown button:hover {
    background-color: #37373e;
}

/* Stile per la scrollbar */
.lode-board-dropdown::-webkit-scrollbar {
    width: 6px; /* Riduce la larghezza della scrollbar verticale */
    height: 6px; /* Riduce l'altezza della scrollbar orizzontale */
}

.lode-board-dropdown::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.lode-board-dropdown::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}




.modal {
    display: none; /* Nascondi la scheda di default */
    position: fixed;
    z-index: 1000; /* Assicurati che sia sopra tutto il resto */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
}

.modal-content {
    background-color: #232329;
    margin: 12% auto; /* Centra la scheda verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Larghezza della scheda */
    max-width: 520px; /* Larghezza massima della scheda */
    position: relative;
    border-radius: 10px; /* Bordi stondati */
    color: #e0e0e0; /* Colore del testo */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.save-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-option {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 40px;
}

.save-option img {
    display: block;
    margin-bottom: 10px; /* Spazio tra l'immagine e il bottone */
}

.save-button {
    padding: 10px;
    background-color: #a8a5ff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.save-button:hover {
    background-color: #8a87ff;
}

#file-name {
    display: block;
    width: 96%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #403e6a;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border: none; /* Rimuove il bordo */
    box-shadow: none; /* Rimuove eventuali ombre */
}

#save-option-cloud{
    width: 189px;
}

#save-option-disco{
    width: 138px;
}

